#game-area {
    width: 500px;
    margin: 0 auto;
    max-width: 100%;
}

#card_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-wrapper {
    margin: 5px 0;
}

.card {
    margin: 1%;
    /* padding-top: 33%; */
    height: 100%;
    border: 3px solid #000;

    background-image: url(/img/spade.png);
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-size: cover;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}